/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2017 (14.0.2027)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [Точка проката центрального парка культуры и отдыха]    Script Date: 12.05.2023 13:36:18 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Точка проката центрального парка культуры и отдыха')
BEGIN
CREATE DATABASE [Точка проката центрального парка культуры и отдыха]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Точка проката центрального парка культуры и отдыха', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Точка проката центрального парка культуры и отдыха.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Точка проката центрального парка культуры и отдыха_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Точка проката центрального парка культуры и отдыха_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CI_AS
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Точка проката центрального парка культуры и отдыха].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[Точка проката центрального парка культуры и отдыха] TO [LAN\Student]
GO
USE [Точка проката центрального парка культуры и отдыха]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Заказы]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Заказы](
	[ID] [float] NULL,
	[Код заказа] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Дата создания] [datetime] NULL,
	[Время заказа] [datetime] NULL,
	[Код клиента] [float] NULL,
	[Услуги] [float] NULL,
	[Статус] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Дата закрытия] [datetime] NULL,
	[Время проката] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Заказы] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Клиенты]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Код клиента] [float] NULL,
	[Паспортные данные] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Дата рождения] [datetime] NULL,
	[Адрес] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[e-mail] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[password] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Клиенты] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Отслеживание заказа]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Отслеживание заказа]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Отслеживание заказа](
	[Штрих код] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Дата в пути] [date] NULL,
	[Статус отслеживания] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_Отслеживание заказа] PRIMARY KEY CLUSTERED 
(
	[Штрих код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Отслеживание заказа] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Отчеты]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Отчеты](
	[Номер отчета] [int] NOT NULL,
	[Количество оказанных услуг] [int] NULL,
	[Количество заказов] [int] NULL,
 CONSTRAINT [PK_Отчеты] PRIMARY KEY CLUSTERED 
(
	[Номер отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Отчеты] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Сотрудники]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Сотрудники](
	[Должность] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[ФИО] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Код сотрудника] [int] NOT NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Сотрудники] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 12.05.2023 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Услуги]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Услуги](
	[ID] [float] NULL,
	[Наименование услуги] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Код услуги] [nvarchar](255) COLLATE Cyrillic_General_CI_AS NULL,
	[Стоимость, руб#  за час ] [float] NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Услуги] TO  SCHEMA OWNER 
GO
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 45462526, 34, N'Новая', NULL, N'120 минут')
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13T00:00:00.000' AS DateTime), CAST(N'1899-12-30T10:10:00.000' AS DateTime), 45462527, 98, N'В прокате', NULL, N'600 минут')
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14T00:00:00.000' AS DateTime), CAST(N'1899-12-30T11:10:00.000' AS DateTime), 45462528, 92, N'В прокате', NULL, N'2 часа')
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14T00:00:00.000' AS DateTime), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10T00:00:00.000' AS DateTime), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21T00:00:00.000' AS DateTime), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Отслеживание заказа] ([Штрих код], [Дата в пути], [Статус отслеживания]) VALUES (N'1111', CAST(N'1997-04-21' AS Date), N'В птуи')
INSERT [dbo].[Отслеживание заказа] ([Штрих код], [Дата в пути], [Статус отслеживания]) VALUES (N'1212', CAST(N'1997-01-21' AS Date), N'В птуи')
GO
INSERT [dbo].[Отчеты] ([Номер отчета], [Количество оказанных услуг], [Количество заказов]) VALUES (1, 2, 3)
INSERT [dbo].[Отчеты] ([Номер отчета], [Количество оказанных услуг], [Количество заказов]) VALUES (2, 3, 3)
INSERT [dbo].[Отчеты] ([Номер отчета], [Количество оказанных услуг], [Количество заказов]) VALUES (3, 2, 2)
GO
INSERT [dbo].[Сотрудники] ([Должность], [ФИО], [Код сотрудника]) VALUES (N'Старший смены', N'Кузьмин Д.В', 1)
INSERT [dbo].[Сотрудники] ([Должность], [ФИО], [Код сотрудника]) VALUES (N'Администартор', N'Адыгеев Е.В', 2)
INSERT [dbo].[Сотрудники] ([Должность], [ФИО], [Код сотрудника]) VALUES (N'Продавец', N'Игорев А.О', 3)
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (336, N'Прокат коньков', N'8HFJHG443', 1200)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (353, N'Заточка коньков', N'87FDJKHJ', 500)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб#  за час ]) VALUES (31, N'Прокат опорного оборудования для катка', N'JUR8R', 500)
GO
USE [master]
GO
